.btn-cadastro {
  padding: 10px;
  background-color: #58fcd5;
  border: none;
  border: 1px solid #58fcd5;
  font-size: 18px;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
}

.box-form {
  padding: 20px;
  background-color: rgba(217, 217, 217, 0.05);
  color: white !important;
}

.box-flashcards {
  height: 600px;
  overflow-y: auto;
}

.box-new-flashcard {
  width: 70%;
  margin: auto;

}

.flashcard {
  background-color: rgba(255, 255, 255, .08);
  padding: 20px;
}

.flashcard-box-item {
  text-align: center;
}

.flashcard p {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.flashcard-facil {
  border-left: 20px solid #1DAB1A;
}

.flashcard-medio {
  border-left: 20px solid #E8910E;
}

.flashcard-dificil {
  border-left: 20px solid #FE0000;
}

.flashcard-categoria {
  background-color: var(--dark-color);
  display: inline;
  padding: 10px;
}

.resposta-flashcard {
  background-color: rgba(255, 255, 255, .08);
  border-top: 1px solid rgba(255, 255, 255, .06);
  padding: 8px;
  display: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.icone-exit {
  float: right;
  font-size: 25px;
  color: orangered;
}