{% extends 'base.html' %}
{% load static %}

{% block 'stylesheets' %}
    <link rel="stylesheet" href="{% static 'flashcards/css/novo_flashcard.css' %}">
    <link rel="stylesheet" href="{% static 'flashcards/css/iniciar_desafio.css' %}">
    <link rel="stylesheet" href="{% static 'flashcards/css/desafio.css' %}">
{% endblock 'stylesheets' %}

{% block 'conteudo' %}

    {% include "partials/header.html" %}

    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md">
                <form action="}" method="GET">
                <label for="">Categoria</label>
                <select name="categoria" class="form-select">
                   
                </select>
            </div>
            <div class="col-md">
                <label for="">Dificuldade</label>
                <select name="dificuldade" class="form-select">
                    
                </select>
            </div>
            <div class="col-md">
                <br>
                <input type="submit" value="Filtrar" class="btn-cadastro">
                </form>
            </div>
        </div>
        <br>
        <br>
        <div class="box-listar">
            <table>
                <thead>
                  <tr>
                    <th scope="col">Desafio</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Dificuldade</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                    {% for desafio in desafios %}
                        <tr class="linha">
                            <th><a href="{% url 'desafio' desafio.id %}">{{ desafio.id }}</a></th>
                            <td>{{ desafio.titulo }}</td>
                            <td>{{ desafio.get_dificuldade_display }}</td>
                            <td>{{ desafio.status }}</td>
                        </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>

{% endblock 'conteudo' %}

{% block 'javascripts' %}
    <script src="{% static 'flashcards/js/flashcard.js' %}"></script>
{% endblock 'javascripts' %}